.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  flex: 1 1 auto;
  overflow: auto;
}

.content-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  justify-content: flex-start;
}

.editor-card {
  margin: 8px;
  padding: 8px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}