<div fxLayout="column" fxFlexFill fxLayoutGap="5px">
  <mat-toolbar color="primary">
    <span>Angular Monaco YAML Example</span>
    <div fxFlex fxFlexFill></div>
  </mat-toolbar>
  <div fxFlex style="overflow: scroll">
    <div fxLayout="column" style="height: 100%" fxLayoutAlign="start stretch">
      <div style="margin: 8px; padding: 8px" class="mat-elevation-z4">
        <k-editor></k-editor>
      </div>
    </div>
  </div>
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
      All Rights Reserved 2003-2023 @ Karthik Prasad
    </div>
  </mat-toolbar>
</div>
